
.App {
  text-align: center;
  font-family:cursive;
}

/* Immagine profilo con nome */
.imgProfile{
  border-radius: 50px;
  width: 150px;
  height: 150px;
}

/* Titoli */
h1{
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 35px;
}

h2{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 24px;
}

/* Descrizione */
.desc{
  margin: 50px 300px;
}

.desc p{
  text-align: justify;
}

/* Esperienze - Lingue - Hobby */
.expLangHob{
  position: relative;
  display: flex;
  margin: 20px 70px;
  gap: 150px;
}

.expLangHob div {
  width: 30%;
}

.expLangHob p{
  text-align: justify;
}

/* Contattami */
.contForm{
  text-align: center;
  position: relative;
  margin-top: 60px;
}

input {
  width: 300px;
  margin-bottom: 20px;
  border-radius: 10px;
}

textarea{
  width: 300px;
  height: 100px;
  resize: none;
  border-radius: 10px;
}

.cont label{
  display: block;
}

/* Footer email */
.email{
  background: rgb(192, 189, 189);
  margin-top: 5%;
}